HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
/target/
target
/logs
/logs/
/out/
/.idea/
/.idea
.idea
pid
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.log
.logs
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.logs

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
